#user-answer {
    background: #999999;
    width: 150px;
    font-size: 50px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center; 
}

@media screen and (max-width: 728px) {
    #user-answer {
        font-size: 35px;
    }
}

.accepted {
	animation: accepted 1.5s 1;
}

.error {
	animation: error 1.5s 1;
}

@keyframes error {
    from {background: red}
    to {background: transparent}
}
  
@keyframes accepted {
    from {background: green}
    to {background: transparent}
}