@import url(https://fonts.googleapis.com/css?family=Lato);

.btn {
    border: none;
    font-family: 'Lato';
    font-size: 15px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 25px;
}

@media screen and (max-width: 400px) {
    .btn{
        font-size: 12px;
    }
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.activated {
    box-shadow: 0 6px #dc7801;
    background: #fcad26;
}

.btn.activated:hover {
    box-shadow: 0 4px #dc7801;
    top: 2px;
}
  
.btn.activated:active {
    box-shadow: 0 0 #dc7801;
    top: 6px;
}

.btn.disabled {
    box-shadow: 0 6px #666666;
    background:#999999;
    cursor: not-allowed;
}

.btn.disabled:hover {
    box-shadow: 0 4px#666666;
    top: 2px;
}
  
.btn.disabled:active {
    box-shadow: 0 0 #666666;
    top: 6px;
}